@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,700,800|Roboto:400,700&display=swap");
* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-orange: #feb954;
  --color-orange-2: #d89a3d;
  --color-blue: #4ba1f4;
  --color-blue-2: #a0ccf8;
}
a {
  text-decoration: none;
  color: var(--color-blue);
  transition: color 400ms;
}
a:hover {
  color: var(--color-blue-2);
}
ul {
  list-style: none;
}
em, i {
  font-style: normal;
}
body {
  scrollbar-width: thin;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  font: normal 16px Roboto, sans-serif;
}
::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #2e2e2e;
}
